@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --bs-border-color: #FF9C71;
} */


body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1A1A1A;
}

h6 {
    color: #F6F6F6;
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1A1A1A;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #3a3833;
}

hr{
    width: 30px;
    border-top: 2px solid #FF9C71;
    opacity: 1; /
}

.star i{
    font-size: 0.8rem;
    color: goldenrod;
}

.star{
    padding: 10px 0;
}

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
    outline: none; 
    box-shadow: none; 
}

.navbar-toggler:focus {
    outline: none; 
    box-shadow: none; 
}

.navbar-toggler:active {
    outline: none; 
    box-shadow: none; 
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #1A1A1A;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: #FF9C71;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar {
    max-width: 0; /* Ancho inicial cerrado */
    opacity: 0; /* Invisible al inicio */
    transition: max-width 0.4s ease, opacity 0.4s ease; /* Transiciones fluidas */
    width: 150px; /* Ancho total deseado */
    padding: 0; /* Sin padding inicial */
    overflow: hidden; /* Evita desbordes en la animación */
    border: 1px solid transparent; /* Sin borde inicial */
}

.search-bar.active {
    max-width: 150px; /* Abre la barra */
    opacity: 1; /* Hace visible el input */
    padding: 0.5rem; /* Ajusta el padding */
    border: 1px solid #ddd; /* Añade borde visible */
}


.icon-container i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}




#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: #1A1A1A;
}

#bar:hover,
#bar.active{
    color: #fff;
}

@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #FF9C71;
    }

    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: #fff;
    }

    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}

/* Mobile Nav */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
    
}

#home{
    background-image: url('img/background2.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 90px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span{
    color:#FF9C71;
}

#brand {
    background-color: #fcfcfc; /* Fondo */
}

#new .one {
    position: relative; /* Asegura que .details esté posicionado respecto a .one */
}

#new .one img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(255, 156, 113, 0.4);
}

#new .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight:  500;
    color: aliceblue;
    background: none;
    text-transform: uppercase;
    border-bottom:  1px solid #1A1A1A;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

#new .one .details button:hover{
    color:aliceblue;
    border-bottom: 1px solid aliceblue;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

#new .one {
    position: relative;
}

#new .one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

#new .one img {
    width: 100%;
    height: auto;
    display: block;
    position: relative; 
    z-index: 0; 
}

#new .details {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2; 
    color: #fff;
    text-align: center;
}

/* PRODUCTS */

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s ease;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background: #FF9C71;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}

.product:active .buy-btn{
    background: #a46246;
    transform: translateY(0);
    opacity: 1;
}

#banner {
    position: relative; /* Necesario para posicionar la pseudo-clase ::before */
    background-image: url('/assets/img/banner/3.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 10px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 

}

#banner > .container {
    position: relative;
}

#banner h4{
    color: #ffffff;
    font-weight: 700;
}

#banner h1{
    color: #ffffff;
    font-weight: 900;
}

#banner button{
    background-color: #FF9C71;
}

#banner button:active{
    background-color: #a46246;
}

footer{
    background-color: #1A1A1A;
    
}

.footer-one .row img {
    width: 100%; /* Ocupa el ancho completo del contenedor de la columna */
    aspect-ratio: 1; /* Mantiene una proporción cuadrada */
    object-fit: cover; /* Ajusta el contenido dentro del marco de la imagen */
}


body > footer > div > div.footer-one.col-lg-3.col-md-6.col-12.mb-4 > div{
    cursor: pointer;
}

footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
    
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover{
    color: #D8D8D8;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

footer .copyright a{
    color: black;
    width: 38px;
    height: 38px;
    background-color: #fff;
    display: inline-block;
    text-align:  center;
    line-height: 38px;
    border-radius: 50%;
    transition:  0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover {
    background-color: #FF9C71;
    color: #fff;
}

    .copyright .col-lg-3 {
        display: flex;
        flex-wrap: wrap; /* Permite que las imágenes se ajusten si es necesario */
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Alinea verticalmente */
        gap: 5px; /* Espaciado uniforme entre las imágenes */
    }

    .copyright .col-lg-3 img {
        width: 40px; /* Tamaño pequeño para las tarjetas */
        height: auto; /* Mantiene la proporción */
        margin: 0; /* Elimina márgenes adicionales */
    }

    